
<!doctype html>
<html lang="ta">
<head>
  <meta charset="utf-8">
  <title>Voice Script - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <nav><h1>தமிழ் ஆடியோவை தமிழ் வேர்டு ஆவணத்திற்கு மாற்றுதல்</h1></nav>
  <div class="container">
    <div class="menu-buttons">
      <a href="/upload_transcribe" class="button-link">ஒலிப் கோப்பிலிருந்து உரையாக மாற்றுதல்</a>
      <a href="/live_scripting" class="button-link">நேரடி உரை மூலம் உரையாக மாற்றுதல்</a>
    </div>
  </div>
</body>
</html>