
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Voice Script - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav><h1>Voice Script - Transforming India's Oral Tradition</h1></nav>
  <div class="container">
    <h2>Choose Your Tool</h2>
    <div class="menu-buttons">
      <a href="/upload_transcribe" class="button-link">Section 1: Transcribe from Audio File</a>
      <a href="/live_scripting" class="button-link">Section 2: Live Scripting & Translation</a>
    </div>
  </div>
</body>
</html>
